# compose.yaml
services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - server